<div class="container pt-3">
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-3">
        <app-card-profile></app-card-profile>
      </div>
      <div class="mb-3">
        <app-card-account-options></app-card-account-options>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mb-3">
        <app-card-addresses></app-card-addresses>
      </div>
      <div class="mb-3">
        <app-card-emails></app-card-emails>
      </div>
      <div class="mb-3">
        <app-card-phone-numbers></app-card-phone-numbers>
      </div>
    </div>
  </div>
</div>