* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

main {
  height: calc(100vh - 2 * 57px);
}

.content-height {
  height: calc(100vh - 2 * 57px - 2 * 16px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.table {
  margin-bottom: 0 !important;
}

table caption {
  caption-side: top ;
}

#Doc {
  .nav.nav-tabs {
    border: 0 !important;
  }

  .nav.nav-tabs a {
    border: 0 !important;
    border-radius: .25rem !important;
  }

  .nav-tabs .nav-link.active {
    color: #007bff !important;
  }

  .nav-tabs .nav-link {
    color: #495057 !important;
  }
}

.text-yellow {
  color: #ffc107;
}

.bg-black {
  background-color: #141d26 !important;
}

.page-item {
  .page-link {
    color: #dc3545 !important;
  }

  &.active .page-link {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: #ffffff !important;
  }
}
