@import "~@angular/material/theming";
@include mat-core();

$web-primary: mat-palette($mat-indigo);
$web-accent: mat-palette($mat-pink, A200, A100, A400);
$web-warn: mat-palette($mat-red);

$web-theme: mat-light-theme(
  (
    color: (
      primary: $web-primary,
      accent: $web-accent,
      warn: $web-warn,
    ),
  )
);

@include angular-material-theme($web-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden-link {
  cursor: auto;
  color: inherit;
  text-decoration: none !important;

  &:hover {
    color: inherit;
    text-decoration: none !important;
  }
}

.control-content {
  max-height: 50px;
  line-height: 25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

table {
  width: 100%;

  caption {
    caption-side: top;
  }
}

.h-25vh {
  height: 25vh;
}

.h-50vh {
  height: 50vh;
}

.h-75vh {
  height: 75vh;
}

.h-20vh {
  height: 20vh;
}

.h-40vh {
  height: 40vh;
}

.h-60vh {
  height: 60vh;
}

.h-80vh {
  height: 80vh !important;
}

.h-100vh {
  height: 100vh;
}

.pt-6 {
  padding-top: 5rem !important;
}

.w-max-300px {
  max-width: 300px;
}

.bg-purple {
  background-color: #6f42c1;
}

.text-purple {
  color: #6f42c1;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1030;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #ffffff;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.mat-drawer-container {
  flex: 1 1 auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

header {
  background-color: #3f51b5;
  color: #ffffff;

  h1 {
    font-weight: 300 !important;
  }
}

.mat-drawer {
  top: 64px !important;
}

@media (max-width: 599px) {
  .mat-drawer {
    top: 56px !important;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-container {
  max-height: 50vh;
  overflow: auto;
}
