<div class="card shadow-sm bg-white">
  <div class="card-body">
    <h5 class="card-title font-weight-normal">Account Options</h5>
    <form>
      <div class="form-group row">
        <label for="language" class="col-sm-3 col-form-label">Language</label>
        <div class="col-sm-9">
          <select class="form-control" id="language">
            <option value="">Language</option>
          </select>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="timeZone" class="col-sm-3 col-form-label">Time Zone</label>
        <div class="col-sm-9">
          <select class="form-control" id="timeZone">
            <option value="">Time Zone</option>
          </select>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="nationality" class="col-sm-3 col-form-label">Nationality</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="nationality" value="Vietnam">
        </div>
      </div>
      <hr>
      <button type="button" class="btn btn-outline-primary">
        Update Your Account
      </button>
      <hr>
      <button type="button" class="btn btn-outline-danger">
        Close Your Account
      </button>
    </form>
  </div>
</div>